// ********************************
// WillBe Pattern Library
// Font
// ********************************

// ************************************************************************************************
// Dichiarazione Font
// Scommentare solo i font che si intendono usare
// ************************************************************************************************

// ********************************
// Merriweather & Montserrat
// ********************************
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,600italic,700,700italic");
$source-sans-pro: 'Source Sans Pro';

// ********************************

// ********************************
// Merriweather & Montserrat
// ********************************
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700");

$marriweather: 				'Merriweather';
$montserrat:				'Montserrat';
// ********************************

// ********************************
// Campton-LightDEMO & Campton-BoldDEMO
// ********************************
@font-face {
	font-family: 'Campton-LightDEMO';
	src: url('../fonts/2C61CB_0_0.eot');
	src: url('../fonts/2C61CB_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2C61CB_0_0.woff2') format('woff2'),
		 url('../fonts/2C61CB_0_0.woff') format('woff'),
		 url('../fonts/2C61CB_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Campton-BoldDEMO';
	src: url('../fonts/2C61CB_1_0.eot');
	src: url('../fonts/2C61CB_1_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/2C61CB_1_0.woff2') format('woff2'),
		url('../fonts/2C61CB_1_0.woff') format('woff'),
		url('../fonts/2C61CB_1_0.ttf') format('truetype');
}

$campton-light: 'Campton-LightDEMO';
$campton-bold:	'Campton-BoldDEMO';
// ********************************

// ********************************
// Open Sans
// ********************************
/*
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700");
$open-sans: 'Open Sans';
*/
// ********************************

// ********************************
// Lato
// ********************************
/*
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
$lato: 'Lato';
*/
// ********************************

// ********************************
// Trajan Pro
// ********************************
/*
$trajan:	'trajan-pro-3';
*/
// ********************************


// ************************************************************************************************
// Tipografia
// ************************************************************************************************

// ********************************
// Dichiarazione Font
// ********************************

// Font utilizzate nella pattern library
$font-primaria: 		$source-sans-pro, Helvetica, Arial, sans-serif;
$font-secondaria:		trajan-pro-3, serif;

// Font dedicata ai titoli (h1..h6)
$font-titoli-primaria:	trajan-pro-3, serif;
$font-titoli-secondaria:$source-sans-pro, Helvetica, Arial, sans-serif;	

// Dimensione font base
$dimensione-font-base: 16px;
//**********************************



// ************************************************************************************************
// Override bootstrap variavles
// ************************************************************************************************

// Font generale (testo ect...)
$font-family-sans-serif:  $font-primaria !default;

// Font Size
$font-size-base:          $dimensione-font-base !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-navbar:		  ceil(($font-size-base * 0.75)) !default; // ~12px
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// Font titoli (h1...h6 ect...)
$headings-font-family:	  $font-titoli-primaria;
$headings-font-weight:    600 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;
// Font Size titoli
$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-carousel-one:  floor(($font-size-h1 * 1.5));
$font-size-carousel-two:  floor(($font-size-h3 * 1));
//**********************************