// ********************************
// Footer
// ********************************

footer.page-footer {
	background: $gray-lighter-color;
	color: $text-color;
	font-weight: 300;
	a {
		color: $text-color;
		&:hover,
		&focus {
			text-decoration: none;
			color: $terziario;
		} 
	}
	h4 {
		color: $text-color;
	}
	#primary-footer {
		ul {
			padding-left: 14px;
		}
		.footer-column {
		  min-height: 250px;
		}
		.footer-centro {
		  border-left: 3px solid $terziario;
		  border-right: 3px solid $terziario;
		}
		.foot-cont {
		    display: table;
		    float: none;
		    margin-left: auto;
		    margin-right: auto;
		}
	}
	#secondary-footer {
		font-size: $font-size-small;
		li a:hover,
		li a:focus {
			color:	$offwhite-color;
		}
	}
	a.navbar-brand {
    	padding: 15px 0px;
	}
}

