// ********************************
// Hero
// ********************************

#hero {
    width: 100%;
    height: 550px;
    text-align: center;
    background-size: cover;
}

#hero.medium-hero {
	height: 350px;
}

.static-hero {
	width: 100%;
	height: 100%;
	background-position: center center;
	@include background-size(cover);
	position: relative;
}

.hero-caption {
	position: absolute;
	left: 20px;
	bottom: 20px;
	display: inline-block;
	padding: 5px 15px;
	background: rgba( $secondario, .4 );
	display: inline-block;
	color: terziario;
	h1 {
		color: $offwhite-color;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: $font-size-carousel-one;
		font-weight: 300;
	}
	&.hero-ceter {
		width: 100%;
		left: 0;
		text-align: center;
	}
}

.owl-carousel,
.owl-carousel .owl-wrapper-outer,
.owl-carousel .owl-wrapper, 
.owl-carousel .owl-item {
	height: 100%;
}


#owl-example .item {
	background-position: center 55%;
    background-size: cover;
	width: 100%;
	height: 100%;
}

.owl-controls {
	position: absolute;
	width: 100%;
	bottom: 0;
}

@media (max-width: 768px) {
	.hero-caption h1 {
		//font-size: 12px;
	}
}