// ********************************
// WillBe PAttern Library
// itemBlock
// ********************************

// ********************************
//  Generale
// ********************************

.itemblock {
	display: block;
	border: 1px solid $secondario;
	/*background: $terziario;*/
	background: transparent;
	margin-bottom: $vertical-space-mini;
	.itemimage {
	
	}
	.itemtext {
		padding: 10px 10px;
		background: $terziario;
		overflow: auto;
		.iteminfo {
			display: block;
			font-size: $font-size-small;
		}
		.itemtitle {
			display: block;
			font-size: $font-size-large;
		}
	}
	&.no-border {
		border: none;
	}
	// Hover Effect Animation with Mixin
	.itemimageBox {
		overflow: hidden;
	}
	.itemimage {
			@include imageHoverAnimation (1, 600ms, ease-out);
		&:hover {
			@include imageHoverAnimation (1.3, 600ms, ease-out);
		}
	}
	.itemtitle {
		@include textChangeColor (600ms, ease-out);
	}
	&:hover .itemtitle {
		color: $primario;
	}
}

a.itemblock:hover,
a.itemblock:focus {
	text-decoration: none;
	border-color: $primario;
}


// ********************************
//  itemBlock Prodotto
// ********************************
.productblock {
	 
}

// ********************************
//  itemBlock Serie
// ********************************
.serieblock {
	
}

// ********************************
//  itemBlock News
// ********************************
.newsblock {
	.itemTitle {
		color: $primario;
		margin: 0px 0px 3px;
		a {
			color: $primario;
		}
		a:hover,
		a:focus {
			color: $secondario;
			text-decoration: none;
		}
	}
	.itemDate {
		font-size: $font-size-small;
		font-weight: 600;
		color: $secondario;
	}
	.itemAuthor {
		font-size: $font-size-small;
		font-weight: 600;
		color: $secondario;
	}
}

// ********************************
//  itemBlock Artista
// ********************************
.artistblock {
	
}

// ********************************
//  itemBlock Wallpaper
// ********************************


// ********************************
//  itemBlock Feature
// ********************************

.itemblock.featureblock {
	border: none;
	background: transparent;
	.itemtitle {
		
	}
	.itemsubtitle h3 {
		margin-top: 5px;
	}
	.itemimage {
		margin-top: 15px;
	}
}

// ********************************
//  itemBlock Support
// ********************************

.itemblock.supportblock {
	border: none;
	background: transparent;
	h4 {
		color: $secondario;
		border-bottom: 1px solid $secondario;
		padding-bottom: 8px;
		margin-top: 0px;
	}
	h5 {
		color: $testo;
	}
}


// ********************************
//  TreeBox
// ********************************

.trbox-container {
	margin-bottom: 0;
	transition:all 0.2s ease-in-out;
	background: $fondo;
	border: 1px solid $testo;
	display:block;
	padding: 4px;
	.caption {
		color:#9E9E9E;
		padding:9px;
	}
	&.no-border {
		border: none;
	}
	&.no-background {
		background: transparent;
	}
}



ul.items {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.isotope-filter {
	list-style: none;
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		background: $secondario;
		color: $terziario;
		padding: 4px 10px;
		&.active,
		&:hover {
			background: $primario;
			text-decoration: none;
		} 
	}
}






