// ********************************
// WillBe Pattern Library
// Mixin
// ********************************

/* Imposta il colore dei placeholder dei tag input */
@mixin input-placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder { //for newer versions of Firefox
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin background-size($type) {
  background-size: $type;
	-webkit-background-size: $type;
  -moz-background-size: $type;
  -o-background-size: $type;
}


// Transparent Color
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  @extend .transparent-background;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}

// ImageHoverAnimation
@mixin imageHoverAnimation ($scale, $time, $animation) {
  transform: scale($scale);
  transition: $time $animation;
}

// TextChangeColor
@mixin textChangeColor ($time, $animation) {
  transition: color $time $animation;
}

// *******************************************************************
// VARIAZIONE PULSANTI BASE - VEDI _buttons.scss in MIXIN BOOTSTRAP 3
// *******************************************************************
@mixin button-variant-kawai($color, $background) {
  color: $background;
  background-color: transparent;
  border: 1px solid $background;
  transition: 300ms ease;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $background;
        border-color: $background;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $background;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}