// ********************************
// WillBe PAttern Library
// navs [NAv - Tab - Pils]
// ********************************

// Pills
// -------------------------

.nav-pills {
  > li {
  	border: 1px solid $secondario;
    // Active state
    a {
      margin-bottom: 0;
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $terziario;
        background-color: $secondario;
      }
    }
  }
}