// ********************************
// Navbar
// ********************************

#brandBar {
	width: 100%;
	position:static;
	top:-32px;
	margin-bottom: 0;
}

#brandBar.affix {
	   position: fixed;
	   top: 40px;
	   z-index:10;
	   //transition: all .6s ease-in-out;
}

#brandBar .navbar-collapse {
	text-align: center;
}

.navbar-brand {
	padding: 18px 15px;
}

.navbar-centrato {
	float: none;
	display: inline-block;
	vertical-align: top;
	width: auto;
	clear: none;
}




// ********************************
// UtilityBar
// ********************************

#utilityBar {
	color: $terziario;
	background: transparent;
	width: 100%;
	height: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	//transition: background-color 0.5s ease;
	
	a.logo {
		color: $terziario;
		&:hover,
		&:focus {
			color: $secondario;
			text-decoration: none;
		}
		.logo-furcht {
			max-height: 25px;
		}
	}
	
	
	.navbar-form.search {
		margin: 0px 15px;
		padding: 0;
		.btn {
			font-size: 12px;
			padding: 3px 8px;
		}
		.form-control {
			font-size: 12px;
			height: 25px;
			width: 120px;
			background: transparent;
			color: $primario;
			@include input-placeholder($terziario);
			&:focus {
				background: $terziario;
				border-color: $terziario;
				box-shadow: none;
				@include input-placeholder($primario);
			}
		}
		.input-group-btn .btn {
			background: $secondario;
			height: 25px;
			color: $terziario;
		}
	}
			
	.social-list {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
		}
		li a {
			display: block;
			margin-right: 5px;
			color: $terziario;
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			font-size: 14px;
			border-radius: 25px;
		}
		li.yt a:hover {
			background:	#cc181e;
		}
		li.fb a:hover {
			background:	#4668B3;
		}
		li.gp a:hover {
			background:	#DE5745;
		}
		li.tw a:hover {
			background:	#2FBBED;
		}
		li.sc a:hover {
			background:	#ff3e00;
		}
		li:last-child a {
			margin-right: 0;
		}
	}
}

#utilityBar.colored {
	background: $primario;
}

.shape-logo-kawai {
	display: inline-block;
	width: 125px; /* 180px */
	height: 25px; /* 36px */
	fill: $primario;
}

.shape-logo-furcht {
  display: inline-block;
  width: 84px;
  height:25px;
  fill: $terziario;
}

#utilityBar.colored .shape-logo-furcht {
	fill: $terziario;
}


