// ********************************
// WillBe PAttern Library
// ********************************

// ********************************
//  Row Element
// ********************************

.row-primario {
	background: $colorebellowallpaper;
}

.row-secondario {
	background: $colorebellowallpaperdue;
	h2 {
		color: $terziario;
	}
}

.row-terziario {
	background: $terziario;
}




.row-vert-padd {
	padding-top: $vertical-space;
	padding-bottom: $vertical-space;
}

.row-vert-padd-mini {
	padding-top: $vertical-space-mini;
	padding-bottom: $vertical-space-mini;
}

.row-top-padd {
	padding-top: $vertical-space;
}

.row-top-padd-mini {
	padding-top: $vertical-space-mini;
}

.row-bot-padd {
	padding-bottom: $vertical-space;
}

.row-bot-padd-mini {
	padding-bottom: $vertical-space-mini;
}

.row-title {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}


// ********************************
//  TreeBox
// ********************************

#threebox .thumbnail {
	margin-bottom: 0;	
}