// ********************************
// WillBe PAttern Library
// ********************************

// ********************************
//  Row Element
// ********************************

.row-primario {
	background: $colorebellowallpaper;
}

.row-secondario {
	background: $colorebellowallpaperdue;
	color: $offwhite-color;
	h2 {
		color: $offwhite-color;
	}
	h3 {
		color: $offwhite-color;
	}
}

.row-terziario {
	background: $offwhite-color;
}

.row-colwhite {
	background: $white;
}

.row-quattro {
	background: $colorebellowallpapertre;
	color: $offwhite-color;
	h2,
	h5 {
		color: $offwhite-color;
	}
}

.row-cinque {
	background: $colorebellowallpaperquat;
	color: $offwhite-color;
	h2 {
		color: $offwhite-color;
	}
}




.row-vert-padd {
	padding-top: $vertical-space;
	padding-bottom: $vertical-space;
}

.row-vert-padd-mini {
	padding-top: $vertical-space-mini;
	padding-bottom: $vertical-space-mini;
}

.row-top-padd {
	padding-top: $vertical-space;
}

.row-top-padd-mini {
	padding-top: $vertical-space-mini;
}

.row-bot-padd {
	padding-bottom: $vertical-space;
}

.row-bot-padd-mini {
	padding-bottom: $vertical-space-mini;
}

.row-vert-marg {
	margin-top: $vertical-space;
	margin-bottom: $vertical-space;
}

.row-vert-marg-mini {
	margin-top: $vertical-space-mini;
	margin-bottom: $vertical-space-mini;
}

.row-top-marg {
	margin-top: $vertical-space;
}

.row-top-marg-mini {
	margin-top: $vertical-space-mini;
}

.row-bot-marg {
	margin-bottom: $vertical-space;
}

.row-bot-marg-mini {
	margin-bottom: $vertical-space-mini;
}



.row-title {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}


