// ********************************
// WillBe Style Guide Pages
// Specific Style
// ********************************

$styleguide-color: $gray-color;

body.stlgd {
	background-color: $white
}

.stlgd {
	font-family: Helvetica, sans-serif;
	color: $styleguide-color;
	border-color: $styleguide-color;
}
	h2.stlgd {
	  border-bottom: 1px solid $styleguide-color;
	}

.bordered {
	border: 1px solid;
}
// -------------------------
// Palett Colori
// -------------------------

.paletta { 
  width: 96%;
  padding: 4%;
  margin-bottom: 20px;
}

.paletta-colore {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
}

.primario {
  @extend .paletta-colore;
  background: $primario;
}

.secondario {
  @extend .paletta-colore;
  background: $secondario;
}

.terziario {
  @extend .paletta-colore;
  background: $gold;
}

.white {
  @extend .paletta-colore;
  background: $white;
}

.off-white {
  @extend .paletta-colore;
  background: $offwhite-color;
}

.gray-lighter {
  @extend .paletta-colore;
  background: $gray-lighter-color;
}

.gray-light {
  @extend .paletta-colore;
  background: $gray-light-color;
}

.gray {
  @extend .paletta-colore;
  background: $gray-color;
}

.gray-dark {
  @extend .paletta-colore;
  background: $gray-dark-color;
}

.gray-darker {
  @extend .paletta-colore;
  background: $gray-darker-color;
}

.black-full {
  @extend .paletta-colore;
  background: $black-full-color;
}

.black-soft {
  @extend .paletta-colore;
  background: $black-full-color;
}

// ********************************
// Principali applicazioni
// ********************************
.fondo_primario {
  @extend .paletta-colore;
  background: $body-bg;
}

.fondo_secondario {
  @extend .paletta-colore;
  background: $gray-lighter-color;
}


a#stiyleGuideLink {
	display: inline-block;
	color: $offwhite-color;
	background: $primario;
	position: fixed;
	top: 110px;
	left: 0px;
	z-index: 3;
	padding: 3px 8px;
}


h1.patliblem.titolo {
  margin: 25px 0px 10px;
  padding: 0px 0px 40px;
}

div.patliblem.box {
  padding: 10px 0px;
}

h5.patliblem.subtit {

  margin: 15px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #000;
}

// FINE Pattern Library Elements


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


