// ********************************
// WillBe PAttern Library
// Tipografia
// ********************************

b, strong {
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: none;
}


// Headings
// -------------------------

h1, .h1 { 
  font-family: $font-titoli-primaria;
  font-size: $font-size-h1; 
  color: $primario;
}

h2, .h2 { 
  font-family: $font-titoli-primaria;
  font-size: $font-size-h2;
  font-weight: 200;
  color: $secondario;
}

h3, .h3 { 
  font-family: $font-titoli-secondaria;
  font-size: $font-size-h3;
  font-weight: 300;
  color: $text-color;
}

h4, .h4 { 
  font-size: $font-size-h4; 
  color: $gray-color;
}

h5, .h5 { 
  font-size: $font-size-h5;
  color: $text-color; 
}

h6, .h6 { 
  font-size: $font-size-h6;
  color: $secondario;
}

blockquote {
    border-left: 3px solid $terziario;
}

blockquote.primary {
    font-family: $headings-font-family;
    font-size: $font-size-large;
}


.vert-spacer,
.itemblock.vert-spacer {
  border: 0;
	border-left: 3px solid $terziario;
	//margin: 0 0 20px;
	padding: 0 0 0 20px;
}





img.img-full-responsive {
	display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

