// ********************************
// WillBe Pattern Library
// Tipografia
// ********************************

b, strong {
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: none;
}

// ********************************
// Headings 
// TBD dobbiamo introdurre gli EM
// TBD x Fabio Possiamo migliorare con @extends?
// ********************************

h1, .h1 { 
  font-family: $font-titoli-primaria;
  font-size: $font-size-h1; 
  color: $primario;
}

h2, .h2 { 
  font-family: $font-titoli-primaria;
  font-size: $font-size-h2;
  font-weight: 200;
  color: $secondario;
}

h3, .h3 { 
  font-family: $font-titoli-secondaria;
  font-size: $font-size-h3;
  font-weight: 300;
  color: $terziario;
}

h4, .h4 { 
  font-size: $font-size-h4; 
  color: $gray-color;
}

h5, .h5 { 
  font-size: $font-size-h5;
  color: $text-color; 
}

h6, .h6 { 
  font-size: $font-size-h6;
  color: $secondario;
}

// ********************************
// Paragrafo
// ********************************

p {
  font-family: $font-primaria;
  font-weight: 300;
  color: $secondario;
}

// ********************************
// Citazione
// ********************************
blockquote {
  font-family: $font-secondaria;
  font-size: $font-size-base;
  border-left: 3px solid $terziario;
}
blockquote.primary {
  font-size: $font-size-large;
}

strong {
  font-weight: 400;
}


.vert-spacer,
.itemblock.vert-spacer {
  border: 0;
	border-left: 3px solid $terziario;
	//margin: 0 0 20px;
	padding: 0 0 0 20px;
}





img.img-full-responsive {
	display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

