// ********************************
// WillBe PAttern Library
// Tipografia
// ********************************

b, strong {
  font-weight: 400;
}


// Headings
// -------------------------

h1, .h1 { 
  font-size: $font-size-h1; 
  color: $primario;
}

h2, .h2 { 
  font-size: $font-size-h2;
  color: $secondario;
}

h3, .h3 { 
  font-size: $font-size-h3;
  color: $testo;
}

h4, .h4 { 
  font-size: $font-size-h4; 
  color: $altro;
}

h5, .h5 { 
  font-size: $font-size-h5;
  color: $primario; 
}

h6, .h6 { 
  font-size: $font-size-h6;
  color: $secondario;
}
