// ********************************
// WillBe PAattern Library
// Variabili
// ********************************

// ********************************
// Colori da ELIMINARE TBD
// ********************************

// SET #1
//$verde-smeraldo:	#315e51;
//$verde-vintage:		#65B18A;
//$bianco:			#FFFFFF;
//$grigio-antracite:	#9e9e9e;
//$grigio-perla:		#f2f2f2;
//$fumo:				#E4E8E3;

// SET #2
//$legno-scuro:		#46433A;
//$turchese:			#009999;
//$bianco:			#FFFFFF;
//$grigio-antracite:	#9e9e9e;
//$grigio-perla:		#f2f2f2;
//$beige:				#DED4B9;

// SET #3
//$viola-metamorfosi:	#774B55;
//$oro:				#DDB176;
//$bianco:			#FFFFFF;
//$grigio-antracite:	#9e9e9e;
//$grigio-perla:		#f2f2f2;
//$sabbia:			#EAE2D6;


//$gray-darker:            lighten(#000, 13.5%) !default; // #222
//$gray-dark:              lighten(#000, 20%) !default;   // #333
//$gray:                   lighten(#000, 33.5%) !default; // #555
//$gray-light:             lighten(#000, 46.7%) !default; // #777
//$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

//$brand-primary:         #428bca !default;
//$brand-success:         #5cb85c !default;
//$brand-info:            #5bc0de !default;
//$brand-warning:         #f0ad4e !default;
//$brand-danger:          #d9534f !default;

//$colorebellowallpaper:		$grigio-perla;
//$colorebellowallpaperdue:	$grigio-antracite;
//$colorebellowallpapertre:	$red-kawai;
//$colorebellowallpaperquat:	$black-kawai;

// ********************************
// Colori neutri
// ********************************
$white:				#FFFFFF;
$offwhite-color: 	lighten(#000, 98); //FAFAFA
$gray-lighter-color: lighten(#000, 95); //F2F2F2
$gray-light-color: lighten(#000, 88); //e0e0e0
$gray-color: lighten(#000, 80);//cccccc
$gray-dark-color: lighten(#000, 60); //999999
$gray-darker-color: lighten(#000, 40); //666666
$black-soft-color: lighten(#000, 30); //4d4d4d
$black-full-color: lighten(#000, 23.5); //3C3C3C

// ********************************
// SET KAWAI Literal -> espresso in lettere
// ********************************

$red-kawai:			#EA221B;
$black-kawai:		#3C3C3C;
$gold:				#C6B799;
$gold-light:		lighten(saturate(#C6B799, 14), 11);

// ********************************
// Colori di marca
// ********************************
$primario:			$red-kawai;
$secondario:		$black-kawai;
$terziario:			$gold;

// ********************************
// Principali applicazioni
// ********************************
//$testo:				$black-soft-color; //
$body-bg:			$offwhite-color !default;
$text-color:            $black-soft-color !default;
$link-color:            $secondario !default;
$link-hover-color:      darken($secondario, 15%) !default;
//** Global textual link color.
$link-color:            $secondario !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($secondario, 15%) !default;

// Set Up border radius
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;



// ********************************
// Navbar collapse - VEDI FILE _VARIABLES.SCSS DI BOOTSTRAP
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1125px !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: (1125px - 1) !default;

// ********************************
//  NAVBAR
// ********************************

// Basics of a navbar
$navbar-height:                    60px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             0 !default;


$navbar-default-color:             $primario !default;
$navbar-default-bg:                $offwhite-color !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $secondario !default;
$navbar-default-link-hover-color:          $primario !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $primario !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           darken($navbar-default-bg, 6.5%) !default;
$navbar-default-toggle-icon-bar-bg:        $secondario !default;
$navbar-default-toggle-border-color:       $secondario !default;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $terziario !default;
$navbar-inverse-bg:                         $primario !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 $terziario !default;
$navbar-inverse-link-hover-color:           $secondario !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            darken($navbar-inverse-bg, 6.5%) !default;
$navbar-inverse-toggle-icon-bar-bg:         $terziario !default;
$navbar-inverse-toggle-border-color:        $terziario !default;

// ********************************
//  END NAVBAR
// ********************************


// ********************************
//  VERTICAL SPACER
// ********************************
// Spaziature verticali
$vertical-space-full:	$navbar-height;
$vertical-space: ceil(($navbar-height * 0.66666)) !default; // ~40px
$vertical-space-mini: ceil(($navbar-height * 0.33333)) !default; // ~20px
// Gutter per spaziatura container-wrapper
$gutter-warapper:	30px;
