<footer class="page-footer">
	<section id="primary-footer">
		<div class="container">
			<div class="row row-vert-padd">
				<div class="col-xs-12 col-sm-4 col-md-4 footer-column">
					<div class="foot-cont">
						<h4>Kawai Worldwide</h4>
						<ul>
							<li><a href="#">Kawai Global</a></li>
							<li><a href="#">Kawai Giappone</a></li>
							<li><a href="#">Kawai Germania</a></li>
							<li><a href="#">Kawai Usa</a></li>
						</ul>
						<img class="logo-kawai" src="images/logo-kawai.svg" alt="kawai">
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 footer-column footer-centro">
					<div class="foot-cont">
						<h4>MONDO KAWAI</h4>
						<ul>
							<li><a href="#">Pianoforti a coda</a></li>
							<li><a href="#">Pianoforti verticali</a></li>
							<li><a href="#">Pianoforti anytime</a></li>
							<li><a href="#">Pianoforti digitali</a></li>
							<li><a href="#">Supporto</a></li>
							<li><a href="#">Artist page</a></li>
							<li><a href="#">Rivenditori certificati Kawai</a></li>
							<li><a href="#">News ed eventi</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 footer-column">
					<div class="foot-cont">
						<h4>CONTATTI</h4>
						<strong>Distributore Kawai per l'italia</strong><br />
						<strong>Furcht S.p.a</strong><br />
						via Borgonuovo 19 / 20121 Milano<br />
						tel 02.72023111 / fax 02.700505157<br />
						<strong>Partita IVA</strong> 00732710157</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End Primary Footer -->
	<section id="secondary-footer">
	<div class="container">
			<div class="row">
				<div class="text-center col-md-12">
					<ul class="list-inline socialNetwork">
						<li class="yt"><a href="#" title="seguici su YouTube"><i class="fa fa-2x fa-youtube"></i></a></li>
						<li class="fb"><a href="#" title="seguici su Facebook"><i class="fa fa-2x fa-facebook"></i></a></li>
						<li class="tw"><a href="#" title="seguici su Twitter"><i class="fa fa-2x fa-twitter"></i></a></li>
						<li class="gp"><a href="#" title="seguici su Google+"><i class="fa fa-2x fa-google-plus"></i></a></li>
						<li class="sc"><a href="#" title="seguici su SoundCloud"><i class="fa fa-2x fa-soundcloud"></i></a></li>
					</ul>     
				</div>
				<div class="text-center col-md-12">
					<p>Copyright © 2014 <a href="http://www.furcht.it" target="blank">Furcht S.p.A.</a> / tutti i diritti riservati.</p>
				</div>
			</div>
		</div>
	</section><!-- End Secondary Footer -->
</footer><!-- End Footer -->
    